CompileFlags:
        Add: [-xc++, -std=c++17, -Wall, -Wextra, -I/Users/sxrose/thirdparty/include, -I/home/students/24200/a.volk/thirdparty/include]

---
If:
        PathMatch: "posix_process.hpp"
CompileFlags:
        Add: [-DPOSIX_PROCESS_IMPLEMENTATION]
---
